.layoutBesoins{
    background-color: white;
    box-shadow: 0px 0px 1px;
    border-radius: 5px;
    border: none;
    padding-top: 10px;
    padding-bottom: 40px;
}

.row{
    margin-top: -3px;
    border: none;
}

.titre{
    margin-top: 15px;
    margin-left: 30px;
    color: #3D707E;
}
.tableContainerStyles{
    margin-bottom: 20px;
}
.checkStyle{
    cursor: pointer;
}
.rowStyles:hover{
    background-color: #E9EBEC;
}
.containerRight{
    margin-top: 100px;
    box-shadow: 0px 0px 5px;
    width: 95%;
}
.titreInfos{
    margin-top: 2%;
    margin-bottom: 10%;
    color: #fff;
}

.modalHeader {
    background-color: #3D707E;
    height: 60px;
    margin-bottom: 80px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.annulerBtn:focus{
    outline : none
}
.supprimerBtn:focus{
    outline: none;
}
.titleDialog{
    color : #027796;
    background-color: #D2D2D2 ;
}
